<section>
    <img src="assets/LOGO.png" alt="Logo da Loja" class="logo" />

    <div class="navbar">
        <details>
            <summary>Home</summary>
            </details>
        <details>
            <summary>Administração</summary>
            <a routerLink="/cad-usuario">Cadastrar Usuário</a>
            </details>
        <details>
            <summary>Produtos</summary>
            <div><a routerLink="/produto">Cadastrar Produtos</a></div>
            <div><a routerLink="/movproduto">Movimentar Produtos</a></div>
        </details>
    </div>
</section>

