<div class="container">
    <h1>Cadastro de Produtos</h1>
   
       <form><div class="form-group">
        <label for="id">ID:</label>
        <input id="id" formControlName="id" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="tipo">tipo:</label>
        <input id="tipo" formControlName="tipo" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Link:</label>
        <input id="link" formControlName="link" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="id_fabricante">Id Fabricante:</label>
        <input id="id_fabricante" formControlName="id_fabricante" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="Valor">Valor:</label>
        <input id="Valor" formControlName="Valor" type="text" class="form-control">
      </div>
      <div class="form-group"></div>
        <label for="Garantia">Garantia:</label>
        <input id="Garantia" formControlName="Garantia" type="text" class="form-control">
       
       <div class="form-group"></div>
        <label for="Descricao">Descrição:</label>
        <input id="Descricao" formControlName="Descricao" type="text" class="form-control">
       
       <button type="submit">Cadastrar Produto</button>
       <button routerLink="/home">Voltar</button>
</form>
<h3 class="mt-5">Relatorio de Produtos</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-warning btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Excluir</button>
                    </td>
                    <td>1</td>
                    <td>Camiseta original da marca Sufgang</td>
                    <td>Camisa</td>
                    <td>camisa.com</td>
                </tr>